.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /*убрали попап*/
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 410px) {
  .popup {
    top: -123px;
  }
}
