.page {
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  background: #000;
  max-width: 1280px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.popup__close-icon {
  background: url(../../images/logo/Close\ Icon.svg) no-repeat center;
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
}
