.popup_opened {
  /*показываем попап при редактировании*/
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 410px) {
  .popup {
    align-items: start;
    margin-top: 123px;
  }
}
