.content__edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

@media (max-width: 1228px) {
  .content__edit {
    width: 400px;
  }
}
@media (max-width: 885px) {
  .content__edit {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .content__edit {
    width: 280px;
  }
}
