.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  width: 400px;
  padding-left: 40px;
}

@media (max-width: 685px) {
  .popup__container {
    width: 260px;
  }
}
