.content__link-add {
  align-self: center;
}

@media (max-width: 870px) {
  .content__link-add {
    align-self: start;
  }
}

@media (max-width: 680px) {
  .content__link-add {
    align-self: center;
  }
}
