.popup__close-icon {
  background: url(../../../images/logo/Close\ Icon.svg) no-repeat center;
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: 0.3s ease-in-out 0.1s;
}

.popup__close-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}
