.popup__subtitle-save {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21em;
  color: #fff;
  text-align: center;
  margin: 0;
}

@media (max-width: 685px) {
  .popup__subtitle-save {
    font-size: 14px;
  }
}
